Repository transitmatters/mbta-slow-zone-bot, pull requests merged in 2023-06, with the labels that each got.

#28 Add ability to trigger 'run' workflow manually
  .github/workflows/run.yml
Labels: ci/cd

#29 Wrapped send functions with try/catch per platform
  slowzones.py
Labels: backend

#30 ci: replace commit checker with pr title checker
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/commit.yml
  .github/workflows/pr_tiitle.yml
Labels: ci/cd

#31 chore: Setting up running on python 3.10
  .github/workflows/dry_run .yml
  .github/workflows/lint.yml
  .github/workflows/run.yml
  poetry.lock
  pyproject.toml
  slowzones.py
  utils.py
Labels: dependencies, backend, ci/cd

#32 chore!: Switch to python 3.10
  .github/workflows/dry_run .yml
  .github/workflows/lint.yml
  .github/workflows/pr_title.yml
  .github/workflows/run.yml
  poetry.lock
  pyproject.toml
Labels: dependencies, ci/cd
